<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Token List</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Token Name</th>
          <th>Token Possession</th>
          <th>Total Tokens</th>
          <th>Token Address</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @tokens.each do |token| %>
          <tr>
            <td><%= token.symbol %></td>
            <td><%= token.name %></td>
            <th><%= token.balance(current_user) %></th>
            <td><%= token.totalTokens %></td>
            <td><%= token.token_address %></td>
            <td><%= link_to 'Show', token_path(token), class: 'btn btn-sm btn-info' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <% if current_user.ico_client %>
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <%= link_to 'Create New Token', new_token_path, class:'btn btn-primary btn-block'%>
    </div>
  <% end %>
</div>
