<div class="container">
  <p id="notice"><%= notice %></p>
  <h3>Token Trade Information List</h3>
  <%= paginate(@trades) %>
  <%= page_entries_info(@trades) %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class='col-xs-3'>From</th>
          <th class='col-xs-3'>To</th>
          <th class='col-xs-3'>Token</th>
          <th class='col-xs-3'>Traded At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @trades.each do |trade| %>
          <% user = trade.user %>
          <tr>
            <td><%= user.email %></td>
            <td>
              <% trade.to_user_emails.each do |email| %>
                <%= email %>
                <br>
              <% end %>
            </td>
            <td><%= trade.token.name %></td>
            <td><%= trade.created_at.try(:strftime, '%F %T') %></td>
            <td><%= link_to 'Show', trade_path(trade), class: 'btn btn-sm btn-info' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate(@trades) %>
</div>
