<div class="container">
  <p id="notice"><%= notice %></p>
  <h3>Token Trade Information List</h3>
  <%= "Token: #{@trade.token.name}" %>
  <br>
  <%= "Traded At: #{@trade.created_at.try(:strftime, '%F %T')}" %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class='col-xs-3'>To</th>
          <th class='col-xs-3'>Ether</th>
          <th class='col-xs-3'>Token Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @trade_details.each do |td| %>
          <tr>
            <td><%= td.user.email %></td>
            <td><%= td.ether %></td>
            <td><%= td.token_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
